* {
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
	padding: 24px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

.page-wrapper {
	width: 374px;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
	padding-bottom: 10px;
}

.container {
	max-width: 345px;
	margin: 0 auto;
}

.header {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	border-radius: 0 0 48px 88px;
	min-height: 246px;
	padding: 37px 18px 104px;
	margin-bottom: 23px;
}

.hello {
	font-size: 24px;
}

.hello-text {
	font-size: 16px;
	max-width: 280px;
}

.user {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
	font-size: 16px;
	padding-bottom: 9px;
	margin-bottom: 23px;
}

.user-avatar {
	margin-top: -80px;
}

.user-name {
	font-size: 16px;
	margin: 0;
}

.user-desc {
	font-size: 16px;
	margin: 0;
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
	background: #f2f0f0;
	padding: 22px 16px 28px;
	margin-bottom: 38px;
}

.button {
	width: 94px;
	height: 40px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-vk {
	background: #4c75a3;
}

.button-telegram {
	background: #2aabee;
}

.button-git {
	background: #000;
}

.image-block {
	border-radius: 10px;
	overflow: hidden;
}